body {
    margin: 0;
    padding: 0;
}


div.card{
    margin-left: 15px;
    margin-right: 15px
}

footer{
    padding-right: 15px;
    padding-left: 15px;
}

.user-profile {
    margin-right: auto; /* Разместить слева */
}

.cart {
    margin-left: auto; /* Разместить справа */
}

.container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 100%;
}

