<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CompStore - найкращий магазин з продажу комп'ютерів{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="bg-dark text-white py-3">
        <div class="container-fluid">
            <div class="container d-flex justify-content-between align-items-center">
                <div class="left-section d-flex align-items-center">
                    {% if 'logged_in' in session and session['logged_in'] %}
                    <div class="user-profile">
                        <img src="{{ url_for('static', filename='user_profile.jpg') }}" alt="User Profile" class="rounded-circle" width="40" height="40">
                        <a href="/profile" class="text-white">Профіль</a>
                    </div>
                    {% else %}
                    <div class="registration-login-buttons">
                        <a href="/register" class="text-white mr-2">Реєстрація</a>
                        <a href="/login" class="text-white">Увійти</a>
                    </div>
                    {% endif %}
                </div>
                <nav class="navigation flex-grow-1 text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="/" class="text-white">Головна</a></li>
                        <li class="list-inline-item"><a href="/computers" class="text-white">Комп'ютери</a></li>
                        <li class="list-inline-item"><a href="/accessories" class="text-white">Аксесуари</a></li>
                    </ul>
                </nav>
                <div class="right-section">
                    <div class="cart">
                        <img src="{{ url_for('static', filename='shopping_cart.jpg') }}" alt="Shopping Cart" class="rounded-circle" width="40" height="40">
                        <a href="/cart" class="text-white">Корзина</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid mt-4">
        {% block content %}
            <h1 class="text-center mb-4">Вітаємо у магазині CompStore!<br>Тут ви знайдете найкращі комп'ютери та гаджети по адекватним цінам</h1>

            <h2 class="text-center mb-4">Найпопулярніші позиції:</h2>
            <div class="row">
                {% for computer in computers %}
                    <div class="col-md-4 mb-3">
                        <div class="card h-100">
                            <img src="{{ url_for('static', filename=computer[1] + '.jpg') }}" alt="{{ computer[1] }}" class="card-img-top">
                            <div class="card-body">
                                <h3 class="card-title">{{ computer[1] }}</h3>
                                <h6 class="card-text">{{ computer[2] }}</h6>
                                <p class="card-text">Відеокарта: {{ computer[3] }}</p>
                                <p class="card-text">Процесор: {{ computer[4] }}</p>
                                <p class="card-text">Оперативна пам'ять: {{ computer[5] }}GB</p>
                                <p class="card-text">Ціна: {{ computer[6] }}₴</p>
                                <div class="d-flex">
                                    <form method="POST" class="d-flex" action="{{ url_for('add_to_cart_route', item_type='computer', item_id=computer[0]) }}">
                                        <button type="submit" class="btn btn-primary mr-2">Додати в корзину</button>
                                    </form>
                                    {% if computer[0] in user_favorite_computers %}
                                        <form method="POST" action="{{ url_for('remove_favorite', item_type='computer', item_id=computer[0]) }}" style="display:inline;">
                                            <button type="submit" class="btn btn-danger btn-sm float-right" onclick="return confirm('Прибрати з улюблених')">❤</button>
                                        </form>
                                    {% else %}
                                        <form method="POST" action="{{ url_for('add_favorite', item_type='computer', item_id=computer[0]) }}" style="display:inline;">
                                            <button type="submit" class="btn btn-danger btn-sm float-right" onclick="return confirm('Додати в улюблені')">🤍</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>
        {% endblock %}
    </div>
    <footer class="bg-dark text-white py-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h5>Контактна інформація:</h5>
                    <p>Адреса: <a href="https://www.google.com/maps/search/?api=1&query=вул. Дніпровська набережна, 12, м. Київ" class="text-white" target="_blank">вул. Дніпровська набережна, 12, м. Київ</a></p>
                    <p>Телефон: <a href="tel:+380509253658" class="text-white">+380509253658</a></p>
                    <p>Email: <a href="mailto:contactcompstore@gmail.com" class="text-white">contactcompstore@gmail.com</a></p>
                </div>
                <div class="col-md-6">
                    <h5>Ми в соціальних мережах:</h5>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=61558996388031&is_tour_dismissed" class="text-decoration-none"><img src="{{ url_for('static', filename='facebook.png') }}" alt="Facebook" width="30" height="30"></a></li>
                        <li class="list-inline-item"><a href="https://www.twitter.com" class="text-decoration-none"><img src="{{ url_for('static', filename='twitter.png') }}" alt="Twitter" width="30" height="30"></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com" class="text-decoration-none"><img src="{{ url_for('static', filename='instagram.png') }}" alt="Instagram" width="30" height="30"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>