<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CompStore - найкращий магазин з продажу комп'ютерів{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="bg-dark text-white py-3">
        <div class="container-fluid">
            <div class="container d-flex justify-content-between align-items-center">
                <div class="user-profile">
                    <img src="{{ url_for('static', filename='user_profile.jpg') }}" alt="User Profile" class="rounded-circle" width="40" height="40">
                    <a href="/profile" class="text-white">Профіль</a>
                </div>
                <nav class="navigation">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="/" class="text-white">Головна</a></li>
                        <li class="list-inline-item"><a href="/computers" class="text-white">Комп'ютери</a></li>
                        <li class="list-inline-item"><a href="/accessories" class="text-white">Аксесуари</a></li>
                        <li class="list-inline-item"><a href="/favorites" class="text-white">Улюблені</a></li>
                    </ul>
                </nav>
                <div class="cart">
                    <img src="{{ url_for('static', filename='shopping_cart.jpg') }}" alt="Shopping Cart" class="rounded-circle" width="40" height="40">
                    <a href="/cart" class="text-white">Корзина</a>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid mt-4">
        {% block content %}
            <h1 class="text-center mb-4">Вітаємо у магазині CompStore!<br>Тут ви знайдете найкращі комп'ютери та гаджети по адекватним цінам</h1>

            <h2 class="text-center mb-4">Найпопулярніші позиції:</h2>
            <div class="row">
                {% for computer in computers %}
                    <div class="col-md-4 mb-3">
                        <div class="card h-100">
                            <img src="{{ computer[1] }}" alt="{{ computer[2] }}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{ computer[2] }}</h5>
                                <p class="card-text">{{ computer[3] }}</p>
                                <p class="card-text">Відеокарта: {{ computer[4] }}</p>
                                <p class="card-text">Процесор: {{ computer[5] }}</p>
                                <p class="card-text">Оперативна пам'ять: {{ computer[6] }}GB</p>
                                <p class="card-text">Ціна: {{ computer[7] }}₴</p>
                                <form action="/buy" method="post">
                                    <input type="hidden" name="computer_id" value="{{ computer[0] }}">
                                    <input type="submit" value="Додати в корзину" class="btn btn-secondary">
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="help text-center">
                <p>Якщо ви не знаєте, який саме комп'ютер вам потрібен, ми можемо вам допомогти!</p>
                <a href="/recommendation" class="btn btn-primary">Отримати допомогу</a>
            </div>
            <hr>
        {% endblock %}
    </div>
    <footer class="bg-dark text-white py-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h5>Контактна інформація:</h5>
                    <p>Адреса: <a href="https://www.google.com/maps/search/?api=1&query=вул. Дніпровська набережна, 12, м. Київ" class="text-white" target="_blank">вул. Дніпровська набережна, 12, м. Київ</a></p>
                    <p>Телефон: <a href="tel:+380509253658" class="text-white">+380509253658</a></p>
                    <p>Email: <a href="mailto:contactcompstore@gmail.com" class="text-white">contactcompstore@gmail.com</a></p>
                </div>
                <div class="col-md-6">
                    <h5>Ми в соціальних мережах:</h5>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=61558996388031&is_tour_dismissed" class="text-decoration-none"><img src="{{ url_for('static', filename='facebook.png') }}" alt="Facebook" width="30" height="30"></a></li>
                        <li class="list-inline-item"><a href="https://www.twitter.com" class="text-decoration-none"><img src="{{ url_for('static', filename='twitter.png') }}" alt="Twitter" width="30" height="30"></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com" class="text-decoration-none"><img src="{{ url_for('static', filename='instagram.png') }}" alt="Instagram" width="30" height="30"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>