{% extends 'base.html' %}

{% block title %}CompStore - найкращий магазин з продажу комп'ютерів{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                Вибрати параметри
            </div>
            <div class="card-body">
                <form id="filterForm" action="{{ url_for('search_computers') }}">
                    <div class="form-group">
                        <label for="videoCard">Відеокарта</label>
                        <select class="form-control" id="videoCard" name="videoCard">
                            <option value="">Виберіть відеокарту</option>
                            {% for video_card in unique_videocard %}
                                <option value="{{ video_card }}">{{ video_card }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="processor">Процесор</label>
                        <select class="form-control" id="processor" name="processor">
                            <option value="">Виберіть процесор</option>
                            {% for processor in unique_processor %}
                                <option value="{{ processor }}">{{ processor }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ram">Оперативна пам'ять (GB)</label>
                        <select class="form-control" id="ram" name="ram">
                            <option value="">Виберіть об'єм пам'яті</option>
                            {% for ram in unique_ram %}
                                <option value="{{ ram }}">{{ ram }}GB</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group justify-content-center">
                        <label for="priceRange">Максимальна ціна:</label>
                        <input type="range" class="form-range" id="priceRange" name="priceRange" min="0" max="{{ max_price }}" value="{{ max_price }}" oninput="priceOutput.value = priceRange.value">
                        <output id="priceOutput">{{ max_price }}</output>
                    </div>
                    <button type="submit" class="btn btn-primary">Пошук</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            {% for computer in computers %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ url_for('static', filename=computer[1] + '.jpg') }}" class="card-img-top" alt="{{ computer[1] }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ computer[1] }}</h5>
                            <p class="card-text">{{ computer[2] }}</p>
                            <p class="card-text">Відеокарта: {{ computer[3] }}</p>
                            <p class="card-text">Процесор: {{ computer[4] }}</p>
                            <p class="card-text">Оперативна пам'ять: {{ computer[5] }}GB</p>
                            <p class="card-text">Ціна: {{ computer[6] }}₴</p>
                            <a href="/cart" class="btn btn-primary">Додати в корзину</a>
                            {% if computer[0] in user_favorite_computers %}
                                <form method="POST" action="{{ url_for('remove_favorite', item_type='computer', item_id=computer[0]) }}" style="display:inline;">
                                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Прибрати з улюблених')">❤</button>
                                </form>
                            {% else %}
                                <form method="POST" action="{{ url_for('add_favorite', item_type='computer', item_id=computer[0]) }}" style="display:inline;">
                                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Додати в улюблені')">🤍</button>
                                </form>
                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if total_pages > 1 %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if has_prev %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('computers', page=prev_page) }}" aria-label="Previous">
                                <span aria-hidden="true">Попередня</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for num in range(1, total_pages + 1) %}
                        <li class="page-item {% if num == page %}active{% endif %}">
                            <a class="page-link" href="{{ url_for('computers', page=num) }}">{{ num }}</a>
                        </li>
                    {% endfor %}
                    {% if has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('computers', page=next_page) }}" aria-label="Next">
                                <span aria-hidden="true">Наступна</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
</div>
{% endblock %}