{% extends 'base.html' %}

{% block title %}Профіль{% endblock %}

{% block content %}
<body>
    <div class="container my-5">
        <div class="row" style="min-height: 62vh;">
            <div class="col-md-4">
                <div class="card shadow-sm mb-4">
                    <div class="card-header text-center bg-dark text-white">
                        <h2>Профіль</h2>
                    </div>
                    <div class="card-body">
                        <p><strong>Номер телефона:</strong> {{ user[1] }}</p>
                        <p><strong>Логін:</strong> {{ user[2] }}</p>
                        <div>
                            <strong>Пароль:</strong>
                            <span id="password">{{ '*****' if not show_password else user[3] }}</span>
                            <form method="POST" action="{{ url_for('toggle_password') }}" style="display:inline;">
                                <button type="submit" class="btn btn-link" style="padding: 0; margin-left: 5px;">👁️</button>
                            </form>
                        </div>
                        <a href="{{ url_for('logout') }}" class="btn btn-danger btn-block mt-3">Вийти з аккаунта</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card shadow-sm mb-4">
                    <div class="card-header bg-dark text-white">
                        <h4>Улюблені комп'ютери</h4>
                    </div>
                    <div class="card-body">
                        {% if favorite_computers %}
                            <div class="row">
                                {% for computer in favorite_computers %}
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img src="{{ url_for('static', filename=computer[1] + '.jpg') }}" class="card-img-top" alt="{{ computer[1] }}">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ computer[1] }}</h5>
                                                <p class="card-text">{{ computer[2] }}</p>
                                                <p class="card-text">Ціна: {{ computer[6] }}₴</p>
                                                <div class="d-flex">
                                                    <form method="POST" class="d-flex" action="{{ url_for('add_to_cart_route', item_type='computer', item_id=computer[0]) }}">
                                                        <button type="submit" class="btn btn-primary mr-2">Додати в корзину</button>
                                                    </form>
                                                    <form method="POST" action="{{ url_for('remove_favorite', item_type='computer', item_id=computer[0]) }}" style="display:inline;">
                                                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Прибрати з улюблених')">🤍</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <h2 style="text-align: center">Ви ще не додали жодного улюбленого комп'ютера.</h2>
                        {% endif %}
                    </div>
                </div>
                <div class="card shadow-sm">
                    <div class="card-header bg-dark text-white">
                        <h4>Улюблені аксесуари</h4>
                    </div>
                    <div class="card-body">
                        {% if favorite_accessories %}
                            <div class="row">
                                {% for accessory in favorite_accessories %}
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <div class="card-img-container" style="height: 250px; overflow: hidden;">
                                                <img src="{{ accessory[1] }}" class="card-img-top" alt="{{ accessory[3] }}" style="max-width: 100%; max-height: 100%; object-fit: contain;">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title">{{ accessory[3] }}</h5>
                                                <p class="card-text">{{ accessory[4] }}</p>
                                                <p class="card-text">Ціна: {{ accessory[5] }}₴</p>
                                                <div class="d-flex">
                                                    <form method="POST" class="d-flex" action="{{ url_for('add_to_cart_route', item_type='accessory', item_id=accessory[0]) }}">
                                                        <button type="submit" class="btn btn-primary mr-2">Додати в корзину</button>
                                                    </form>
                                                    <form method="POST" action="{{ url_for('remove_favorite', item_type='accessory', item_id=accessory[0]) }}" style="display:inline;">
                                                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Прибрати з улюблених')">❤️</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <h2 style="text-align: center">Ви ще не додали жодного улюбленого аксесуара.</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}