{% extends 'base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}
    <body>
        <div class="row justify-content-center align-items-center" style="min-height: 69.5vh;">
            <h1>Профиль</h1>
            <p>Номер телефона: {{ user_data[1] }}</p>
            <p>Логин: {{ user_data[2] }}</p>
            <p>Пароль: {{ user_data[3] }}</p>
            <a href="{{ url_for('logout') }}" class="btn btn-danger">Вийти з аккаунта</a>
        </div>
    </body>
{% endblock %}