{% extends 'base.html' %}

{% block title %}Дякуємо за замовлення{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center" style="min-height: 69.5vh">
        <div class="col-12 text-center">
            <h1>Дякуємо за ваше замовлення!</h1>
            <p>Ми отримали ваші дані і обробимо їх якомога швидше.</p>
            <a href="/" class="btn btn-primary btn-lg"><i class="fas fa-home"></i> Повернутися на головну сторінку</a>
        </div>
    </div>
</div>
{% endblock %}